services:
  filebrowser:
    image: hurlenko/filebrowser:latest
    container_name: filebrowser
    user: "${UID}:${GID}"
    ports:
      - "${PORT}:8080"
    volumes:
      - "${DOCKER_STATIC_HOSTING}:/data"
      - "./config:/config"
    environment:
      FB_BASE_URL: "/filebrowser"
    restart: always
    networks:
      - https

networks:
  https:
    name: ${HTTPS_NETWORK}
    external: true
